.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;

    .container {
        background-color: #267b8c22;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40rem;
        padding: 1rem;
        border-radius: 10px;

        h1 {
            color: #fff;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            align-items: center;

            label {
                display: flex;
                align-items: center;
                gap: 1rem;
                width: 100%;
    
                input {
                    padding: 0.5rem;
                    outline: none;
                    border: none;
                    background-color: #fff;
                    flex: 1;
                    color: #000;
                    border-radius: 5px;
                }
            }

            button {
                padding: 0.5rem 2rem;
                background-color: #fff;
                border: none;
                color: #008000;
                width: 100%;
                border-radius: 5px;
                margin-top: 1rem;

                &:hover {
                    background-color: #008000;
                    color: #fff;
                }
            }
        }

        h5 {
            color: #008000;
        }
    }
}