@import url('https://fonts.googleapis.com/css?family=Akronim');

.success-al {
    width: 100% !important;
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .error-alert {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;

        .fail-error {
            color: #ff0000;
            padding: 1rem;
            border-radius: 5px;
            width: 100%;
        }
    }


    .demo-alert {
        background-color: #ffff0015;
        color: #ffff00;
        text-align: center;
        margin: 2rem;
        padding: 0.5rem;
        border-radius: 10px;

        span {
            color: #fff;
        }
    }

    .login-intro {
        text-align: center;
        width: 100%;

        h1 {
            font-size: 1rem;
            text-align: center;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        border-radius: 10px;
        position: relative;

        h4 {
            color: #fff;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            align-items: center;
            gap: 1.5rem;

            label {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
                width: 100%;

                input {
                    padding: 0.5rem 1rem;
                    outline: none;
                    width: 100%;
                    border: none;
                    flex: 1;
                    color: #000;
                    border-radius: 5px;
                    background-color: #fff;
                    font-family: 'Raleway';
                }

                .password-input {
                    display: flex;
                    background-color: #fff;
                    width: 100%;
                    outline: none;
                    width: 100%;
                    border: none;
                    color: #000;
                    border-radius: 5px;
                    font-family: 'Raleway';
                    
                    input {
                        padding: 0.5rem 1rem;
                        flex: 3;
                        color: #000;
                    }

                    .action-holder {
                        padding: 0.3rem 1rem;
                        margin: 0.1rem;
                        background-color: #267b8c;
                        color: #fff;
                        border-radius: 5px;

                        #eye {
                            padding: 0.1rem;
                            font-size: 1.5rem;
                            cursor: pointer;
                        }
                    }
                }
            }

            button {
                padding: 0.5rem 2rem;
                background-color: #fff;
                border: none;
                color: #008000;
                width: 100%;
                border-radius: 5px;
                margin-top: 1rem;

                &:hover {
                    background-color: #008000;
                    color: #fff;
                }
            }
        }

        h5 {
            color: #008000;
        }
    }
}

@media only screen and (min-width: 768px) {
    .success-al {
        width: 25% !important;
    }

    .Login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // height: 100vh;
        background-image: url('../../images/logo.png');
        background-repeat: no-repeat;
        background-position: top 10% left 108%;
        background-size: 12rem;

        .error-alert {
            position: absolute;
            top: 70%;
        }

        .demo-alert {
            position: absolute;
            top: 10%
        }

        .login-intro {
            text-align: center;
    
            h1 {
                font-size: 1.2rem;
            }

            
        }

        .container {
            box-shadow: 1px 2px 6px 2px #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40rem;
            padding: 2rem 1rem 1rem 1rem;
            border-radius: 10px;
            position: relative;

            h4 {
                color: #fff;
                text-align: center;
                font-size: 1rem;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                align-items: center;

                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                    width: 100%;

                    input {
                        padding: 0.5rem;
                        outline: none;
                        border: none;
                        background-color: #ffffff72;
                        flex: 1;
                        color: #fff;
                        font-weight: 700;
                        border-radius: 0px;

                        &:focus {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }

                button {
                    padding: 0.5rem 2rem;
                    background-color: #fff;
                    border: none;
                    color: #008000;
                    width: 100%;
                    border-radius: 0px;
                    margin-top: 1rem;
                    font-weight: 700;

                    &:hover {
                        background-color: #008000;
                        color: #fff;
                    }
                }
            }

            h5 {
                color: #008000;
            }

        }


        .logo {
            height: 100vh;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            img {
                height: 5rem;
            }

            h1 {
                color: #ffffff95;
                font-family: 'Akronim';
                margin: 0;
                font-size: 4rem;
            }
        }
    }
}
