body {
  background: rgb(14, 13, 13) !important;
  color: white;
  min-height: 100vh;
  position: relative;
  font-family: monospace;
  font-size: 0.8rem;
}

.body-content {
  padding-bottom: 5rem;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem; 
}

.kitu {
  position: relative;
  z-index: 1;
}

/* background: rgb(14, 13, 13)!important; */

.kwanza {
  height: 45rem;
}

.bata {
  position: relative;
  top: 12rem;
}

.home-img {
  opacity: 0.5;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.815);
  opacity: 1; /* Firefox */
}

.name {
  font-size: 5rem;
  color: rgb(0, 81, 134);
}

.salut {
  font-size: 4rem;
  color: rgb(28, 231, 129);
}

.sidebar {
  width: 20rem;
}

.kadi {
  /* position: absolute; */
  left: 70rem;
  top: 5rem;
}

.nav {
  background: darkgrey !important;
}

.scndrow {
  position: relative;
  left: 25rem;
}

/* .card {
    width: 25%;
} */
/* .card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(47, 236, 179, 0.329) !important;
} */

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(47, 236, 179, 0.329) !important;
}

.t-shadow {
  box-shadow: 0 0.5rem 1rem rgba(231, 65, 43, 0.329) !important;
}

.wolan {
  max-height: 50rem;
}

.wolani {
  max-height: 20rem;
}

.sasa {
  display: flex;
  flex-direction: row;
  max-height: 30rem;
  height: 30rem;
  max-width: 40rem;
  margin-bottom: 3rem;
}

.manze {
  max-height: 30rem;
}

.picha {
  max-width: 55rem;
  max-height: 25rem;
}

.card-title {
  text-align: center;
}

.card-img-top {
  position: relative;
  left: 5rem;
}

.market {
  font-size: 1.4rem;
}

.card-text-st {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(28, 231, 129);
}

.sth {
  color: rgb(45, 236, 39);
}

.last2 img {
  height: 28rem;
  width: 100%;
  object-fit: contain;
}

.last2 .huh {
  height: 28rem;
  background-color: black;
}

.donut {
  max-height: 40rem;
}

.howcard {
  max-width: 60rem;
}
.sumbua {
  left: 90%;
  width: 100%;
  font-size: 1rem;
}
.privacy {
  margin-left: 10rem;
}
.prog {
  width: 17rem;
}
.item-selector {
  width: 3.5rem;
}
@media (max-width: 600px) {

  .card-text {
    text-align: center;
    font-size: 1rem;
    color: rgb(28, 231, 129);
  }

  .card-title {
    font-size: 0.8rem;
  }

  .alaa {
    order: 0;
    display: flex;
    flex-direction: row-reverse;
    height: 8rem;
  }

  .alaa .btn {
    width: 10rem;
  }

  .alaa .text-center {
    font-size: 1.5rem;
    padding-right: 3rem;
  }

  .mavitu {
    order: 1;
  }

  .nkt {
    order: 2;
  }

  .prog {
    width: 15rem;
  }

  .mawe {
    display: flex;
    flex-wrap: wrap;
  }

  .wolan {
    max-height: 30rem;
    padding-bottom: 2rem;
  }

  .wolani {
    max-height: 20rem;
    width: 20rem;
    padding-bottom: 2rem;
  }

  .manze {
    width: 20rem;
    max-height: 30rem;
    margin-top: 5rem;
  }

  .sasa {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 20rem;
    margin-bottom: 20rem;
  }

  .container {
    position: relative;
    width: 100%;
  }

  .kuja {
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
    width: 20rem;
    margin-bottom: 1rem;
  }

  .kuja .btn {
    width: 8rem;
  }

  .fujo {
    width: 21rem;
  }

  .mti {
    width: 17rem;
    font-size: 0.7rem;
  }
  .mtii {
    font-size: 1rem;
  }

  .inn {
    width: 17rem;
  }

  .kiti {
    width: 20rem;
    margin-bottom: 5rem;
  }

  .pbut {
    margin-bottom: 3rem;
  }

  .ttl {
    font-size: 1.2rem;
  }
  .load {
    font-size: 1rem;
  }

  .howcard {
    max-width: 20rem;
    pointer-events: none;
  }
  .howcard div ul{
   margin-left: 0rem!important;
  }
  .howcard div h5 {
    font-size: 1.2rem!important;
  }
  .banner {
    display: flex;
   padding: 4rem !important;
  }
  .banner h3 {
    flex-grow: 1;
    font-size: 1.2rem;
    position: absolute;
  top: 3rem;
  left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  } 
  .banner .btn {
    font-size: 0.7rem;
  position: absolute;
  top: 1rem;
  left: 0;
  }
  .sumbua{
    background-color:slategrey;
   top: 5%;
  left: 75%;
   transform: translate(-100%, 40%);   color: rgb(190, 185, 185);
    font-size: 0.8rem;

  }
  .privacy {
    width: 100%!important;
    margin-left: 1rem;
  }
}