@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  background: rgb(14, 13, 13) !important;
  color: white;
  min-height: 100vh;
  position: relative;
  font-family: 'Raleway';
  font-size: 0.8rem;
}